<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VIT Complaint Portal</title>
    <link rel="stylesheet" type="text/css" href="login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@300&display=swap" rel="stylesheet">
</head>
<body>  
    <div class ="main">
        <div class ="title">
            <img src = "https://vtop.vit.ac.in/vtop/assets/img/VITLogoEmblem.png">
            <h1>VIT Complaint Portal</h1>
        </div>
        <div class="login">
            <form class ="form" action="/signup" method ="POST">
                <input type="text" name ="username" id = "username" required placeholder="Enter Username">
                <input type="password" name ="password" id ="password" required placeholder="Enter Password">
                <input type="password" name ="cpassword" id ="cpassword" required placeholder="Confirm Password">
                <button type="submit" id="login_btn">Sign Up</button><br>
            </form>
            <h4><%=message%></h4>
        </div>
    </div>
    <div class ="footer">
        <footer>Nitesh Kakkar</footer>
    </div>
</body>

<script src="signup.js"></script>
</html>
